<ion-content>
  <ion-button expand="block" [routerLink]="['/mantenimientos']" class="bt2" color="light">
    <ion-icon name="return-up-back-sharp" slot="start"></ion-icon>
  </ion-button>



  <ion-grid >
    <ion-row  >
      <ion-button color="secundary">
        <ion-col ></ion-col>
        
        
        <ion-col >
          <div >
            0{{tiempo.minutos}}
           </div>
         </ion-col>
         
         <ion-col >
           <div *ngIf="tiempo.segundos <10">
             0{{tiempo.segundos}}
           </div>
           
           <div *ngIf="tiempo.segundos >=10">
    {{tiempo.segundos}}
   </div>
   
 </ion-col>
 
</ion-button>
</ion-row>
</ion-grid>




</ion-content>