
  <ion-content padding>
  <img src="https://o.remove.bg/downloads/7228719f-8a79-4f04-a74c-73f6cbe4ced3/apmi_2022-removebg-preview__1_-removebg-preview.png"/>


    
    <ion-button class="logo1" size="default" expand="block" color="dark"
    [routerLink]="['/login']"   >
     INGRESAR
      <ion-icon name="key-outline" slot="start"></ion-icon>
    </ion-button>
    
    <ion-button class="logo1" size="default" expand="block" color="dark"  [routerLink]="['/registrarse']"  >
      Registrarse
      
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
    </ion-button>

    <ion-button class="logo1" size="default" expand="block" color="dark"  [routerLink]="['/invitado']"  >
     Invitado
     <ion-icon name="eye-sharp" slot="start"></ion-icon>
    </ion-button>

    <video muted autoplay loop>
       <source src=".C:/Users/Usuario/Videos/videos_AMPI/animacion1" 
       type = "video/mp4" >
    </video>



     
    <ion-button class="redes1" size="default" expand="block" color="black"  [routerLink]="['/autentication']"  >
         SIGUENOS EN: 
    </ion-button>
        
    <div style="display: flex;" >
          <ion-fab-button color="light"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
          <ion-fab-button color="light" ><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
          <ion-fab-button color="light" [routerLink]="['/https://web.whatsapp.com/']"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
          <ion-fab-button color="light" ><ion-icon name="mail-sharp"></ion-icon></ion-fab-button>
    </div>
      
  </ion-content> 