.logo1{
width: 120px;
margin-left: 120px;
margin-top: 20px;
color:black;
}
.facebook1{
    width: 150px;
    margin-top: 20px;
    margin-block-start: 20px
    ;
}
.redes{
    width: 120px;
}


ion-fab-button {
  margin: 19px;  
  color: white;  
}
.redes1{
    margin-top: 50px;
}