<ion-content>

  <ion-button expand="block" [routerLink]="['/opciones']" class="bt2" color="light">
    <ion-icon name="return-up-back-sharp" slot="start"></ion-icon>
  </ion-button>


  <img [routerLink]="['/opciones']"  src="https://o.remove.bg/downloads/5582e923-b1e3-4c27-8cbe-fb4e7a40e158/3-removebg-preview.png">


  <div class="crono">
  <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/home']"  >
    Buscar Maquina
    <ion-icon name="search-sharp" slot="start"></ion-icon>
   </ion-button>
  
   <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/cronograma']"  >
   Buscar Seccion
   <ion-icon name="bug-sharp" slot="start"></ion-icon>
   </ion-button>
  </div>
</ion-content>
