
<ion-content>
<ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
  <ion-icon name="home-sharp"></ion-icon>
</ion-button>

  <img [routerLink]="['/']"  src="https://o.remove.bg/downloads/7228719f-8a79-4f04-a74c-73f6cbe4ced3/apmi_2022-removebg-preview__1_-removebg-preview.png">

  <ion-button expand="block" [routerLink]="['/opciones']"  class="bt1" color="light">Entrar</ion-button>
<ion-item>
<ion-label>Correo: </ion-label>
<ion-input type="string" [(ngModel)]="correo"></ion-input>
<ion-input></ion-input>
</ion-item>

<ion-item>
<ion-label>Contraseña: </ion-label>
<ion-input type="password" minlength="6" [(ngModel)]="password"></ion-input>
</ion-item>




</ion-content>