


<ion-content>

  <ion-button expand="block" [routerLink]="['/opciones']" class="bt2" color="light">
    <ion-icon name="return-up-back-sharp" slot="start"></ion-icon>
  </ion-button>


<ion-button (click)="selectmarca()" color="light">
Marca
</ion-button>

<ion-button (click)="selectmodelo()" color="light">
  Modelo
  </ion-button>

  <ion-button (click)="addNuevoEnable()" expand="full" color="light">
    <ion-label>Crear nueva Maquina</ion-label>
    <ion-icon slot="end" name="person-add-sharp"></ion-icon>
  </ion-button>

  <div *ngIf="addNuevo == true">
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-input [(ngModel)]="newMaquina.marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Modelo</ion-label>
      <ion-input [(ngModel)]="newMaquina.modelo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seccion</ion-label>
      <ion-input type="string" [(ngModel)]="newMaquina.seccion"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Codigo</ion-label>
      <ion-input  [(ngModel)]="newMaquina.codigo"></ion-input>
    </ion-item>

    <ion-button (click)="cancelar()" color="danger">
      Cancelar
    </ion-button>

    <ion-button (click)="guardar()">
     Guardar
    </ion-button>
  </div>
   



  
  <ion-list>
    <ion-list-header>
      <ion-label>Maquina</ion-label>
    </ion-list-header>

    <div *ngFor="let maquina of maquina; let i = index">
      <ion-item *ngIf="maquina.marca == marca">
        <ion-label>{{i}}.-Maquina: {{maquina.marca}}
          <p>Modelo: {{maquina.modelo}}</p>
          <p>Seccion: {{maquina.seccion}}</p>
          <p>Codigo: {{maquina.codigo}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="editar(maquina)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="eliminar(i)">
            <ion-icon slot="icon-only"color="danger" name="trash-bin"></ion-icon>
          </ion-button>

                    <ion-button (click)="eliminar(i)" [routerLink]="['/mantenimientos']">
                      <ion-icon name="build-sharp" color="success" ></ion-icon>
          </ion-button>

        </ion-buttons>
      </ion-item>
    </div>

    
  

  </ion-list>

  
  <ion-item>
    <ion-label>Numero1</ion-label>
    <ion-input [(ngModel)]="data.numero1" type="number"></ion-input>
  </ion-item>
    
  <ion-item>
    <ion-label>Numero2</ion-label>
    <ion-input [(ngModel)]="data.numero2" type="number"></ion-input>
  </ion-item>
    
    <ion-button (click)="getSuma()" expand="block" >
    Sumar servidor
    </ion-button>
    
    <ion-button (click)="getsumaCliente()" expand="block">
    Sumar cliente
    </ion-button>

    <ng-container *ngIf="respuesta">
      <ion-item>
        <ion-label>la suma es : {{respuesta.respuesta}}
          <p>estado: {{respuesta.estado}</p>
        </ion-label>
      </ion-item>

  
    </ng-container>>


</ion-content>






