
<ion-content>

  <ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
    <ion-icon name="home-sharp"></ion-icon>
  </ion-button>


  <img [routerLink]="['/']"  src="https://o.remove.bg/downloads/e26b9faa-8233-4ca8-b4ef-53fe572e7626/BIENVENIDOS2-removebg-preview.png">


  <div style="display: flex;" class="div">
  <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/home']"  >
    Crear Maquinaria
    <ion-icon name="settings-sharp" slot="start"></ion-icon>
   </ion-button>
  
   <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/cronograma']"  >
    Cronogramas
    <ion-icon name="calendar-sharp" slot="start"></ion-icon>
   </ion-button>
  </div>

  
  <div style="display: flex;" class="div">
    <ion-button class="redes1" size="default" expand="block" color="ligth" [routerLink]="['/progreso']"  >
      Funcionamientos
      <ion-icon name="time-sharp" slot="start"></ion-icon>
     </ion-button>
     <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/autentication']"  >
      Tecnicos
      <ion-icon name="accessibility-sharp" slot="start"></ion-icon>
     </ion-button>
    </div>





  

</ion-content>

