
<ion-content>

  <ion-button expand="block" [routerLink]="['/']" class="bt2" color="light">
    <ion-icon name="home-sharp"></ion-icon>
  </ion-button>


  <img [routerLink]="['/']"  src="https://o.remove.bg/downloads/fa21ee4a-ecea-4d0b-a5bd-c7621a0456e7/3-removebg-preview.png">


  <div style="display: flex;" class="div">
 
   <ion-button class="redes1" size="default" expand="block" color="ligth"  [routerLink]="['/cronograma']"  >
    Cronogramas
    <ion-icon name="calendar-sharp" slot="start"></ion-icon>
   </ion-button>
  </div>

  
  <div style="display: flex;" class="div">
    <ion-button class="redes1" size="default" expand="block" color="ligth" [routerLink]="['/progreso']"  >
      Funcionamientos
      <ion-icon name="time-sharp" slot="start"></ion-icon>
     </ion-button>


    </div>

    <div style="display: flex;" class="div">
    <ion-button class="redes1" size="default" expand="block" color="ligth" [routerLink]="['/cupones']"  >
      Cupones
      <ion-icon name="time-sharp" slot="start"></ion-icon>
     </ion-button>


    </div>

